@page
@using Remotely.Shared.Models
@inject Remotely.Server.Services.IApplicationConfig AppConfig
@model Remotely.Server.Pages.RemoteControlModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.9, user-scalable=no" />
    <link rel="icon" href="~/favicon.ico" />
    <title>Logicom Remoto</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <link href="~/manifest-rc.json" rel="manifest" />
    <meta name="description" content="Controle Remoto Para Suporte a Cliente." />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/remote-control.css" rel="stylesheet" asp-append-version="true" />
    @if (AppConfig.Theme == Remotely.Shared.Enums.Theme.Light)
    {
        <link href="~/css/remote-control-light.css" rel="stylesheet" asp-append-version="true" />
    }
    else
    {
        <link href="~/css/remote-control-dark.css" rel="stylesheet" asp-append-version="true" />
    }

    @if (Model.RemotelyUser is not null)
    {
        switch (Model.RemotelyUser.UserOptions.Theme)
        {
            case Remotely.Shared.Enums.Theme.Light:
                <link href="~/css/remote-control-light.css" rel="stylesheet" asp-append-version="true" />
                break;
            case Remotely.Shared.Enums.Theme.Dark:
                <link href="~/css/remote-control-dark.css" rel="stylesheet" asp-append-version="true" />
                break;
            default:
                break;
        }
    }
    else
    {
        if (AppConfig.Theme == Remotely.Shared.Enums.Theme.Light)
        {
            <link href="~/css/remote-control-light.css" rel="stylesheet" asp-append-version="true" />
        }
        else
        {
            <link href="~/css/remote-control-dark.css" rel="stylesheet" asp-append-version="true" />
        }
    }


    <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" />

    <environment include="Development">
        <script src="~/lib/microsoft-signalr/signalr.js"></script>
        <script src="~/lib/msgpack5/msgpack5.js"></script>
        <script src="~/lib/microsoft/signalr-protocol-msgpack/dist/browser/signalr-protocol-msgpack.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/microsoft-signalr/signalr.min.js"></script>
        <script src="~/lib/msgpack5/msgpack5.min.js"></script>
        <script src="~/lib/microsoft/signalr-protocol-msgpack/dist/browser/signalr-protocol-msgpack.min.js"></script>
    </environment>
</head>
<body>
    <div class="remotely-header" title="Logicom Remoto">
        <div class="logo-title">
            Logicom Remoto
        </div>
        <div class="logo-subtitle">Portal de Suporte</div>
    </div>

    <button id="keyboardButton" hidden="hidden" title="Invoke the mobile touch keyboard.">
        <i class="fas fa-keyboard align-middle"></i>
    </button>


    <button id="menuButton">
        <i class="fas fa-chevron-circle-right"></i>
    </button>

    <div id="menuFrame">

        <div class="menu-options-header">
            Opções
        </div>

        <div>
            <button id="viewOnlyButton" class="option-button" title="Se alternado, evita o envio de comunicações e entrada para o computador remoto.">
                Apenas Espiar <i class="fas fa-eye"></i>
            </button>

            <button id="clipboardTransferButton" class="option-button" title="Digite o texto da área de transferência atual no computador remoto.">
                Area de Transferência  <i class="fas fa-clipboard"></i>
            </button>

            <button id="blockInputButton" class="option-button" title="mpedir que o usuário remoto use o teclado e o mouse.">
                Bloquear Usuário <i class="fas fa-mouse"></i>
            </button>

            <button id="inviteButton" class="option-button" title="Copie um link que permite que outra pessoa veja a tela remota.">
                Convidar Outros  <i class="fas fa-user-plus"></i>
            </button>

            <button id="audioButton" class="option-button" title="Apenas Windows. Transmita o áudio remoto para o navegador.">
                Audio <i class="fas fa-volume-up"></i>
            </button>

            <button id="fileTransferButton" class="option-button" title="Transfira arquivos para o computador remoto.">
                Transferir Arquivo  <i class="fas fa-file-upload"></i>
            </button>

            <button id="ctrlAltDelButton" class="option-button" title="Envie o Comando Ctrl+Alt+Del par o Computador Remoto.">
                Ctrl+Alt+Del <i class="fas fa-sign-in-alt"></i>
            </button>

            <button id="disconnectButton" class="option-button" title="Desconectar da Sessão Atual">
                Desconectar <i class="fas fa-window-close"></i>
            </button>
        </div>


        <div class="menu-options-header">
            Visualizar
        </div>

        <div>
            <button id="streamVideoButton" class="option-button" hidden title="Reduza a largura de banda e aumente o FPS, mas aumente o atraso de entrada.">
                Modo de transmissão <i class="fas fa-video"></i>
            </button>

            <button id="changeScreenButton" class="option-button" title="Alterne monitores em configurações remotas de vários monitores.">
                Monitores <i class="fas fa-desktop"></i>
            </button>

            <button id="fullScreenButton" class="option-button" title="Entre no modo de tela Cheia.">
                Tela Cheia <i class="fas fa-window-maximize"></i>
            </button>


            <button id="fitToScreenButton" class="toggled option-button" title="Se alternado, irá redimensionar a imagem para caber na janela.">
                Ajustar <i class="fas fa-expand"></i>
            </button>
        </div>


        <div class="menu-options-header">
            Gravação
        </div>

        <div>
            <button id="recordSessionButton" class="option-button" title="Grave a sessão como um vídeo WEBM no navegador.">
                Iniciar <i class="fas fa-record-vinyl"></i>
            </button>

            <button id="downloadRecordingButton" class="option-button" title="Baixe a sessão gravada como um arquivo WEBM.">
                Download <i class="fas fa-download"></i>
            </button>
        </div>

        <div class="menu-options-header">
            sessão
        </div>
        <div>
            <select id="windowsSessionSelect"
                    title="Mude para uma sessão diferente do Windows."
                    class="option-button"
                    style="height: 30px; width: 90%; margin: 5px 0;"></select>
        </div>

        <div style="margin-top:15px;">
            <span>Conexão: </span>
            <i id="connectionRelayedIcon" class="fas fa-wifi connection-icon" title="Connection is relayed"></i>
            <i id="connectionP2PIcon" class="fas fa-wifi connection-icon" title="Connection is peer-to-peer" style="display:none"></i>
        </div>

    </div>

    <div id="screenSelectBar" class="horizontal-button-bar">

    </div>

    <div id="clipboardTransferBar" class="horizontal-button-bar">
        <div style="color:white; font-size:12px">
            Área de transferência compartilhada
        </div>
        <div style="color:white; font-size:12px;">
            <button id="typeClipboardButton" class="horizontal-bar-button">Digite a Area de Transferência</button>
        </div>
    </div>

    <div id="fileTransferBar" class="horizontal-button-bar">
        <div style="color:white; font-size:12px">
            Transferir Arquivos
        </div>
        <div style="color:white; font-size:12px;">
            <button id="fileUploadButton" class="horizontal-bar-button">Upload de Arquivo</button>
            <button id="fileDownloadButton" class="horizontal-bar-button">Download de Arquivo</button>
        </div>
    </div>
    <div id="connectBox" class="center-connection-box" style="display: none">
        <h3>Conectar ao Cliente:</h3>
        <div class="form-block">
            <label>Seu Nome (para Exibir ao Cliente): </label>
            <br />
            <input id="nameInput" type="text" value="@Model.RemotelyUser?.UserOptions?.DisplayName" />
        </div>
        <div class="form-block">
            <label>Código da Sessão: </label>
            <br />
            <input id="sessionIDInput" type="text" pattern="[0-9 ]+" />
        </div>
        <div class="right-aligned">
            <button id="connectButton">Conectar</button>
        </div>
        <div id="statusMessage" class="status-message">

        </div>
    </div>

    <div id="disconnectedBox" class="center-connection-box" style="text-align: center; display: none;">
        <h3>Desconectado do Cliente.</h3>
    </div>


    <div id="screenViewerWrapper" class="center-aligned">
        <canvas id="screenViewer" hidden="hidden"></canvas>
        <video id="videoScreenViewer" hidden="hidden"></video>
        <input id="fileTransferInput" hidden="hidden" type="file" multiple />
        <textarea id="touchKeyboardTextArea" value=" #"> #</textarea>
    </div>

    <div id="toastsWrapper">

    </div>


    <div id="fileTransferDiv" hidden="hidden">
        <span id="fileTransferNameSpan" class="mr-1 font-weight-bold" style="vertical-align: middle;"></span>
        <progress id="fileTransferProgress" style="vertical-align: middle; width: 100%"></progress>
    </div>

    <footer>
        <div class="footer-wrapper">
            &copy; 2021 - <a href="http://www.logicom.com.br">Logicom tecnologia</a>
        </div>
    </footer>

    <script src="~/src/RemoteControl/App.js" type="module"></script>
    <script>
        window.addEventListener("load", () => {
            ViewerApp.Init();
        })
    </script>
</body>
</html>
